* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Podkova';
  background-color: #e7decc;
  margin: 0;
}

header {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: none;
  background-color: white;
  height: 6em;
  width: 100%;
}

svg {
  margin-top: 1em;
  height: 2em;
  width: 2em;
}

header a {
  border-bottom: none;
  text-decoration: none;
}

header h1 {
  border: none;
  color: #000;
  font-size: 5vw;
  letter-spacing: 0.03em;
  line-height: 3rem;
  margin-top: -.2em;
  /* padding: 0 0.5em; */
  text-decoration: none;
}


.img {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img h1 {
  font-family: "Ogg";
  text-transform: uppercase;
  font-size: 120px;
  color: white;
  font-weight: lighter;
  font-style: italic;
}

main {
  margin: 1em;
}

main p {
  /* background-color: #e7decc; */
  /* border-radius: 10px; */
  text-align: left;
  padding: .6em;
}



span {
  font-weight: bold;
}

section {
  background-color: #fafafa;
  border-radius: 10px;
}

img {
  padding: .6em;
  width: 10em;
}